@import "colors";

@import url(https://fonts.googleapis.com/css?family=Lato:100,400,300,500);
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro);

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

body {
  margin: 0;
  @include font-size(12px)
  background: $secondary-color;
  font-family: sans-serif;
  color: $dark-bg-color;

  #app {
    height: 100%;
  }
}

legend {
  color: darken($dark-bg-color , 10%);
  letter-spacing: 1px;
}

label {
  @include font-size(12px)
}


fieldset {
  margin: 1.2rem 0 0 0;
  border: 1px solid $secondary-color;
  color: lighten($dark-bg-color , 10%);
}

input {
  border: 1px solid $secondary-color;
  color: $purple-bg;
  display: inline-block;
  width: 80%;
  padding: 6px 10px;
  margin: 6px 0;
}

button {
  display: inline-block;
  border: 1px solid $dark-bg-color;
  background: $dark-bg-color;
  color: $secondary-color;
  border-radius: 2px;
  letter-spacing: 1px;
  margin: 10px 0;
  padding: 8px 28px;
  text-transform: uppercase;
  &+ button {
    margin-left: 10px;
  }
  &:disabled {
    background: $main1_disabled;
    color: #ddd;
    position: relative;
    &:after {
      display: block;
      position: absolute;
      color: #333;
      top: 0;
      width: 460px;
      content: 'cannot call non static functions via server.';
      left: 100%;
      text-align: left;
      padding: 9px 18px;
    }
  }
}


.injectDappHub {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 80%;
}


.treeview {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  flex: 1;
  > .selectView {
    flex: 1;
    overflow-y: auto;
    position: relative;
    background: $dark-bg-color;
    color: $white;
    min-width: 15%;
    width: 15%;

    > .navBtn {
      padding: 6px 15px;
      font-size: 12px;
      font-weight: 300;
      letter-spacing: 1px;
      background-color: $dark-bg-color;
      color: #fff;
      &:hover {
        background-color: lighten($dark-bg-color, 20%);
      }

      &.selected {
        border-left: 4px solid $main2;
        background: lighten($dark-bg-color, 20%);
        padding-left: 11px;
      }
    }
  }
  .mainView {
    flex: 8;
    overflow: auto;
    display: flex;
    .sniffer {
      display: flex;
      flex-direction: column;
      font-family: monospace;
      width: 100%;
      overflow-wrap: break-word;
      .controllBar {
        border-bottom: 4px solid #ddd;
        padding: 2px 6px;
        .record {
          input {
            display: none;
          }
          &::before{
            content: " ";
            display: inline-block;
            width: 12px;
            height: 12px;
            background: #bbb;
            border-radius: 20px;
            margin: 0px 7px 2px 3px;
            vertical-align: middle;
          }
          &.checked::before {
            background: #ff603b;
            box-shadow: 0px 1px 4px 0px #ff603b;
          }
        }
      }
      ul {
        padding: 0;
        margin: 0;
        overflow-y: auto;
        li.sniffline {
          cursor:default;
          width: 100%;
          list-style: none;
          &.call {
            background: #cce1f0;
          }
          &.tx {
            background: #f7e5d2;
          }
          span.req {
            padding: 4px 15px;
            display: block;
            border-bottom: 1px solid #cdcdcd;
            &:hover, &.open {
              background: rgba(255,255,255,0.3);
            }
          }
          span.res {
            display: block;
            padding: 5px 35px;
            background: rgba(0,0,0,0.1);
            white-space: pre-wrap;
          }
          &::before {
            content: "▸";
            font-size: 10px;
            line-height: 10px;
            float: left;
            margin: 5px 10px;
          }
          &.open::before {
           content: "▾";
          }
        }//li
      }
    }
  }
}
.objectView {
  width: 100%;
}

.abiView {
  display: flex;
  width: 100%;
  height: 100%;
  .selectView {
    flex: 3;
    overflow-y: auto;
    .navBtn {
      cursor:default;
      font-weight: 100;
      background: $white;
      font-weight: 400;
      position: relative;
      padding: 6px 15px;

      &.contract, &.objectInfo {
        font-size: 18px;
        padding: 10px;
        background: $dark;
        color: $white;
        letter-spacing: 1px;
        &.selected {
          border-left: 4px solid $yellow;
          padding-left: 11px;
        }
        &:hover, &.selected {
          background: lighten($dark-bg-color, 22%);
        }
        &:before { border-bottom: none; }
      }

      &.selected {
        border-left: 4px solid $main2;
        padding-left: 11px;
      }

      &:hover {
        background: rgba($white, 0.1);
      }

      &:before {
        content: " ";
        border-bottom: 1px dotted $secondary-color;
        display:block;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 90%;
      }
      &:hover {
        background: $bg-light-panel;
      }
      &.selected {
        border-left: 4px solid $main2;
        background: $bg-light-panel;
      }
    }
  }
  .mainView {
    flex: 6;
    overflow-y: auto;
    padding: 15px;
    border-left: 1px solid $main3;
    background: #fff;
    table {
      width: 100%;
      td {
        margin: 6px 0;
      }
      td.input {
        display: flex;
        > input {
          flex: 1;
        }
      }
      td.label {
        text-align: right;
        padding-right: 10px;
        width: 18%;
      }
      td.type {
        padding-left: 4px;
        width: 15%;
      }
    }
  }
}

.jsonDisplay {
  white-space: pre;
  font-family: monospace;
  padding: 20px;
  display: block;
}
